
{{view App.ControlView}}
<div class="arrange">
  <section class="arrange-controls">
    <div class="buttons">
      <button type="button" class="btn btn-mini">
        <span class="icon-align-justify icon-white"></span>
      </button>
      <button type="button" class="btn btn-mini">
        <span class="icon-plus icon-white"></span>
      </button>
    </div>
    <h4 class="title">Tracks</h4>
    <div class="btn-group dropdown">
      <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">Plugins<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Reverb</a></li>
        <li><a href="#">Compressor</a></li>
        <li><a href="#">Something Cool</a></li>
      </ul>
    </div>
  </section>
  <section class="arrange-pluginheader">
    <h4 class="title">Plugins</h4>
  </section>
  <section class="arrange-timeline">

  </section>
  <section class="arrange-tracklist">
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
    {{view App.ArrangeTrackView}}
  </section>
  <section class="arrange-pluginlist">

  </section>
  <section class="arrange-trackbody scrollable">
    
  </section>
</div>